/* Landing page */

.navbar {
    font-size: 40px;
    border-radius: 0px 0px 5px 5px;
    background-color: #212529; /* Change navbar background color */
}

.navbar-brand {
    font-weight: bold;
    color: #fff; /* Change brand text color */
}

/* Custom styles for the navigation brand */
.brand-large {
    font-size: 40px; 
    font-weight: normal; 
    letter-spacing: 2px;
    font-family: 'Brush Script MT', cursive;
    color: #fff; /* Change brand text color */
}

/* Custom style for the login button */
.btn-login {
    padding: 10px 20px; /* Adjust padding */
    border-radius: 30px; /* Round button shape */
    background-color: #212529; /* Custom background color */
    color: #fff; /* Text color */
    border: none; /* No border */
}
        
.hero {
    background-image: url('{% static 'images/landing.png' %}'); 
    background-size: cover;
    background-position: center;
    height: 680px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; /* Text color */
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.hero-title {
    color: #fff; /* Text color */
    font-weight: bold;
}

.hero-content {
    padding: 0 20px;
}

.try-now-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #212529; /* Button background color */
    color: #fff; /* Button text color */
    margin-top: 20px;
    transition: margin-top 0.3s, background-color 0.3s; 
}

.try-now-btn:hover {
    background-color: #14596d; /* Darker shade for hover */
    color: #fff; 
}

.about {
    margin: 55px; 
}

/* FAQ Section */
.faq {
    text-align: center;
    color: #212529; /* Text color */
    font-size: 15px;
    margin: 55px; 
}

.accordion-item {
    margin-bottom: 20px;
    max-width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

.accordion-title {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: #212529; /* Background color */
    colo
